name: Generate PAC File

on: [push]

jobs:
  generate:
    name: Generate PAC File

    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: "3.6"
          architecture: "x64"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -U genpac

      - name: Generate PAC File
        run: genpac --config-from=./config.ini

      - name: Commit and Push
        if: ${{ success() }}
        run: |
          git config --global user.email "hihanley@outlook.com"
          git config --global user.name "Hanley"
          git add pac.txt gfwlist.txt
          git commit -m 'CI: GitHub Actions Commit'
          git push
